<html><head>

<title>Vugu</title>




<!-- link rel="manifest" href="/assets/images/favicon/site.webmanifest" -->

<meta name="msapplication-TileColor" content="#da532c"/>
<meta name="theme-color" content="#ffffff"/>

<!-- <title>{{.Title}}</title> -->
<!-- <title>Vugu Dev - {{.Request.URL.Path}}</title> -->
<!-- {{end}} -->
<meta charset="utf-8"/>

<meta name="description" content="Vugu: Pure Go. Targets WebAssembly (and/or server). Most modern browsers supported. Experimental, for now. Really cool."/>

<!-- {{if .MetaTags}}{{range $k, $v := .MetaTags}} -->
<!-- <meta name="{{$k}}" content="{{$v}}"/> -->
<!-- {{end}}{{end}} -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- {{if .CSSFiles}}{{range $f := .CSSFiles}} -->
<!-- <link rel="stylesheet" href="{{$f}}" /> -->



<!-- {{end}}{{end}} -->
 <!-- MS Edge polyfill -->


<!-- Global site tag (gtag.js) - Google Analytics -->





<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png"/><link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5"/><link rel="stylesheet" href="/assets/css/vendor.css"/><link rel="stylesheet" href="/assets/css/style.css"/><link rel="stylesheet" href="/assets/css/custom.css"/><style>
    #root .header {
        background: #72ceff
    }
    
    #root .header + section {
        padding-top: 0;
    }
    
    /* code formatting */
    #root pre.chroma {
        border: 4px solid #f1f1f1;
    }
    
    #root .chroma .err {
        background-color: transparent;
    }
    
</style></head><body><div id="root">
<!-- {{if .ServerRenderedOutput}}{{.ServerRenderedOutput}}{{else}} -->
<!-- <img style="position: absolute; top: 50%; left: 50%;" src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif"> -->
<!-- {{end}} -->

<header class="header">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
              <a href="/" class="navbar-brand"><img src="/assets/images/logo-white.svg" alt="Logo"/></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="/doc/start" class="nav-link">Getting Started</a>
                  </li>
                  <li class="nav-item">
                    <a href="/doc" class="nav-link">Documentation</a>
                  </li>
                  <li class="nav-item">
                    <a href="/faq" class="nav-link">faq</a>
                  </li>
                </ul>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="https://github.com/vugu/vugu" target="_blank">GitHub</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://godoc.org/github.com/vugu/vugu" target="_blank">GoDoc</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://play.vugu.org/" target="_blank">Playground</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>



<section class="mb-2">
    <div class="container overlay-item-top">
        <div class="row">
            <div class="col">
                <div class="content boxed">
                    <div class="row separated">

                        <article class="col-md-12 content-body">
                            <div>page not found</div>
                        </article>

                        
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="bg-dark">

    <div class="container">

        

        <div class="row mt-0 pt-2 pb-1">

            <div class="col-12 col-md-2">
                <a href="/"><img src="/assets/images/logo-white.svg" alt="Logo"/></a>
            </div>

            <div class="col-12 col-md-4 col-lg-2 ml-auto text-md-right">Copyright (C) <span>2020</span></div>

        </div>

    </div>

</footer>

</div></body></html>