<html><head>

<title>What is Vugu?</title>




<!-- link rel="manifest" href="/assets/images/favicon/site.webmanifest" -->

<meta name="msapplication-TileColor" content="#da532c"/>
<meta name="theme-color" content="#ffffff"/>

<!-- <title>{{.Title}}</title> -->
<!-- <title>Vugu Dev - {{.Request.URL.Path}}</title> -->
<!-- {{end}} -->
<meta charset="utf-8"/>

<meta name="description" content="Vugu is Go library which makes it easy to write web user interfaces in Go. You write UI components in .vugu files, converted to .go, compiled to wasm.  Browser DOM sychronization."/>

<!-- {{if .MetaTags}}{{range $k, $v := .MetaTags}} -->
<!-- <meta name="{{$k}}" content="{{$v}}"/> -->
<!-- {{end}}{{end}} -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- {{if .CSSFiles}}{{range $f := .CSSFiles}} -->
<!-- <link rel="stylesheet" href="{{$f}}" /> -->



<!-- {{end}}{{end}} -->
 <!-- MS Edge polyfill -->
<!-- <script src="/wasm_exec.js"></script> -->


<!-- Global site tag (gtag.js) - Google Analytics -->





<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png"/><link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5"/><link rel="stylesheet" href="/assets/css/vendor.css"/><link rel="stylesheet" href="/assets/css/style.css"/><link rel="stylesheet" href="/assets/css/custom.css"/><style>
    #root .header {
        background: #72ceff
    }
    
    #root .header + section {
        padding-top: 0;
    }
    
    /* code formatting */
    #root pre.chroma {
        border: 4px solid #f1f1f1;
    }
    
    #root .chroma .err {
        background-color: transparent;
    }
    
</style></head><body><div id="root">
<!-- {{if .ServerRenderedOutput}}{{.ServerRenderedOutput}}{{else}} -->
<!-- <img style="position: absolute; top: 50%; left: 50%;" src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif"> -->
<!-- {{end}} -->

<header class="header">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
              <a href="/" class="navbar-brand"><img src="/assets/images/logo-white.svg" alt="Logo"/></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="/doc/start" class="nav-link">Getting Started</a>
                  </li>
                  <li class="nav-item">
                    <a href="/doc" class="nav-link active ">Documentation</a>
                  </li>
                  <li class="nav-item">
                    <a href="/faq" class="nav-link">faq</a>
                  </li>
                </ul>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="https://github.com/vugu/vugu" target="_blank">GitHub</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://godoc.org/github.com/vugu/vugu" target="_blank">GoDoc</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://play.vugu.org/" target="_blank">Playground</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>

<div>
<section class="hero bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-white mb-3">
          <h1 class="h2 pb-1 pt-2">What is Vugu?</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-minimal">
              <li class="breadcrumb-item"><a href="/" notclick="data.Router.BrowseTo(&#34;/&#34;, event)">Home</a></li>
              <li class="breadcrumb-item"><a href="/doc" notclick="data.Router.BrowseTo(&#34;/doc&#34;, event)">Doc</a></li>
              
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="mb-2">
    <div class="container overlay-item-top">
        <div class="row">
            <div class="col">
                <div class="content boxed">
                    <div class="row separated">

                        

                        <article class="col-md-8 content-body">
                            <div>

    <p>Vugu is Go library which makes it easy to write web user interfaces in Go.</p>

    <p>The basic idea is as follows:</p>

    <ul>

        <li><strong>You write UI components in .vugu files</strong>. These files are similar to UI components you might
            see in
            JavaScript frameworks (e.g. .vue files). However, they contain no JavaScript and instead have Go language
            expressions for
            <code>if</code>, <code>for</code> and other such functionality.<br/> 
        </li>

        <li>
            <strong>Each .vugu file is converted to a corresponding .go file.</strong> There is a development server in
            the Vugu project
            which can do this for you automatically on page reload, or the <code>vugugen</code> command line tool can be
            used to integrate
            with <code>go generate</code>. The code generation also attempts to provide sensible defaults where needed
            so your .vugu
            files contain as little boilerplate as possible, while still allowing extensive customization if desired.
            <br/> 
        </li>

        <li>
            <strong>Your project is compiled to a WebAssembly module and run in the browser.</strong> Again, the
            development server makes this easy to
            do when starting a project. As your project evolves and you need to customize parts of this process you can
            easily do so.<br/> 
        </li>

        <li>
            <strong>The Vugu library</strong> (package: <a target="_blank" href="https://github.com/vugu/vugu">github.com/vugu/vugu</a>)
            <strong>provides functionality to efficiently synchronize HTML DOM</strong> on a web page according to the
            markup
            in your .vugu files. Features like attaching DOM event handlers (click, etc.) and breaking large pages up
            into components
            are supported.
        </li>

    </ul>

</div>
                        </article>
                        <aside class="col-md-4 content-aside bg-light">
                            <div class="widget">
    <h3 class="widget-title">Documentation</h3>
    <div class="list-group list-group-related">

        <!-- active -->
        <a class="list-group-item list-group-item-action d-flex align-items-center active" href="/doc">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>What is Vugu?</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/start">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Getting Started</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/files">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Vugu Files</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/files/markup">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Markup (HTML/Go)</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/files/style">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Styles (CSS)</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/files/code">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Code (Go)</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/dom-events">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>DOM Events</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/components">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Using Components</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/program">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Program Structure</span>
        </a><a class="list-group-item list-group-item-action d-flex align-items-center " href="/doc/build-and-dist">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span>Building and Distribution</span>
        </a>

        <!-- <a vg-for="allPages.SiteDocPages()" :href="value.Path"
            @click="data.Router.BrowseTo(value.Path, event)"
            class="list-group-item list-group-item-action d-flex align-items-center active">
            <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
            <span vg-html="value.ShortTitle"></span>
        </a> -->

    </div>
</div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="bg-dark">

    <div class="container">

        <div class="row gutter-0">
            <div class="col-12 col-md-6">
                
            </div>
            <div class="col-12 col-md-6 text-right">
                <h4 class="prev-next-part">
                    <a href="/doc/start">Getting Started »</a>
                </h4>
            </div>
        </div>

        <div class="row mt-0 pt-2 pb-1">

            <div class="col-12 col-md-2">
                <a href="/"><img src="/assets/images/logo-white.svg" alt="Logo"/></a>
            </div>

            <div class="col-12 col-md-4 col-lg-2 ml-auto text-md-right">Copyright (C) <span>2020</span></div>

        </div>

    </div>

</footer>

</div><script src="https://cdn.jsdelivr.net/npm/text-encoding@0.7.0/lib/encoding.min.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-137242493-1"></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137242493-1');
</script></body></html>